<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="t1000"
          class="java1.ru.javabegin.training.spring.impl.robot.ModelT1000">

        <constructor-arg ref="sonyHand"/>
        <constructor-arg ref="sonyLeg"/>
        <constructor-arg ref="sonyHead"/>

        <property name="hand" ref="toshibaHand"/>
        <property name="head" ref="toshibaHead"/>
        <property name="leg" ref="toshibaLeg"/>

    </bean>



    <bean id="sonyHand" class="java1.ru.javabegin.training.spring.impl.sony.SonyHand"/>
    <bean id="sonyHead" class="java1.ru.javabegin.training.spring.impl.sony.SonyHead"/>
    <bean id="sonyLeg" class="java1.ru.javabegin.training.spring.impl.sony.SonyLeg"/>

    <bean id="toshibaHand" class="java1.ru.javabegin.training.spring.impl.toshiba.ToshibaHand"/>
    <bean id="toshibaHead" class="java1.ru.javabegin.training.spring.impl.toshiba.ToshibaHead"/>
    <bean id="toshibaLeg" class="java1.ru.javabegin.training.spring.impl.toshiba.ToshibaLeg"/>
    
</beans>